body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#93d7e0, #d3feff);
  height: 100vh;
  overflow: hidden;
}
.ground {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0px;
  background-color: #7fa661;
}

.bob {
  position: absolute;
  bottom: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d1bf98;
  transition: all 0.3s;
}

.eye-container {
  position: relative;
  top: 45px;
  left: 60px;
  display: flex;
}

.eye {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 3px;
  transition: all 0.2s;
}

.eye:after {
  position: relative;
  top: 15px;
  left: 25px;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
}

.cloud {
  position: absolute;
  left: 10%;
  top: 22%;
  width: 350px;
  height: 120px;
  background: #ffffff;
  border-radius: 100px;
  z-index: 2;
}
.cloud::after,
.cloud::before {
  content: '';
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}
.cloud::after {
  width: 100px;
  height: 100px;
  top: -120px;
  left: -120px;
}
.cloud::before {
  width: 180px;
  height: 180px;
  top: -70px;
  left: 130px;
}

.cloud2 {
  position: absolute;
  right: 20%;
  top: 18%;
  width: 380px;
  height: 130px;
  background: #ffffff;
  border-radius: 110px;
  z-index: 2;
}
.cloud2::after,
.cloud2::before {
  content: '';
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}
.cloud2::after {
  width: 110px;
  height: 110px;
  top: -110px;
  right: 100px;
}
.cloud2::before {
  width: 170px;
  height: 170px;
  top: -70px;
  right: -150px;
}

.sun {
  position: absolute;
  left: 10%;
  top: 5%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffde72;
}
